/* #########HEADER PART###########*/
/* #########HEADER PART###########*/
/* #########HEADER PART###########*/
h1{font-family: Arial;
padding-left: 100px;
font-size: 50px;}
p{
	font-family: calibri;
}
h5{font-family: Arial;padding-left: 100px;
text-align: center;}
#photo1{
	width: 150px;
}
#conteneur{display: flex;
border:solid 1px grey;
background-color: #e1e1ff;
border-radius: 20px;
}
.element{

/*border:dashed 1px black;*/}

.element:nth-child(1){flex: 2;}

.element:nth-child(2){flex: 1;}

#id-photo {margin-left: 80%;
width:60px;
padding-top: 15px;
}

.element:nth-child(3){padding-right: 20px;}

/* #########HEADER PART###########*/
/* #########HEADER PART###########*/
/* #########HEADER PART###########*/

/* #########BODY PART###########*/
/* #########BODY PART###########*/
/* #########BODY PART###########*/


#conteneur1{display: flex;
	/*border:dashed 1px black;*/}
#global-conteneur{
	display: flex;
	justify-content : center;}
#sous-conteneur1{
	display: flex;
	border-top: solid 2px grey;

	justify-content:space-around;}
.element1:nth-child(1){
	/*border:dashed 1px black;*/
	text-align: right;
	flex:1;}
.element1:nth-child(2){
	border:solid 2px grey;
	border-radius: 20px;
	flex:3;}
.element-sous-conteneur{/*border:dashed 1px black;*/}

#sous-conteneur2{display: flex;
	/*border:dashed 1px black;*/
	justify-content:space-around;}

/* ############LIST PART #############*/
#list{list-style-type: none;}

#liste3{
	background: #678;
	border-radius: 60px 0px 0px  60px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	margin: 1% 0 0 0;
	font-family: Calibri;
}

a:link{
	color: black;
	text-decoration: none;}

a:visited{
	text-decoration: none;
	color: black;}

a:hover,a:active{color: #e1e1ff;}

/* ########## LIST PART ############*/
.maison{width: 250px;}	

.par{
	text-align: center;
}

/* #########BODY PART###########*/
/* #########BODY PART###########*/
/* #########BODY PART###########*/